body{
    font-family: 'Noto Serif', serif;
    background:rgb(240, 236, 236);
}
.btn{
    background:rgb(150,62,42);
    border:none;
}
.btn:hover{
    background:grey;
}

.text-info{
    color:rgb(150,62,42)!important;
}
.jumbotron{
    background:rgb(201,196,191,0.3);
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;
}
.nav-back{
    background:rgb(138,139,133);
    color:rgb(26, 25, 25)
}
.navbar{
    position:sticky;
    top:0;
    z-index:5;
}